@media screen and (max-width: 0px)
{
  body { background-color: #227722;}
}




#header {
position: sticky;
top: 0;
bottom: auto;
justify-content: space-around;
text-align: center;
width: auto;
}


#emptybox {
position: relative;

}




#header-img {
width: 200px;
height: 100px;

}


#body {
text-align: center;
align-items: center;
background-color: #555;
position: relative;
display: flex;
flex-direction: column;
height: 8000vh;


}
